@font-face {
    font-family: 'ITC Serif Gothic Std';
    src: url('../fonts/SerifGothicStd-Black.woff2') format('woff2'),
        url('../fonts/SerifGothicStd-Black.woff') format('woff'),
        url('../fonts/SerifGothicStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

$gothic: 'ITC Serif Gothic Std', serif;

// Font variables
// -- System fonts
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// -- Monospace
$monospace: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
// -- Franklin gothic
$franklin: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic',
    Arial, sans-serif;
// -- Futura
$futura: Futura, 'Trebuchet MS', Arial, sans-serif;
// -- Bodoni
$bodoni: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond,
    'Times New Roman', serif;
// -- Roboto
$roboto: 'Roboto', sans-serif;
// -- Open sans
$opensans: 'Open Sans', sans-serif;
// -- Oswaldd
$oswald: 'Oswald', sans-serif;
// -- Playfair
$playfair: 'Playfair Display', serif;
// -- Montserrat
$montserrat: 'Montserrat', sans-serif;
// -- Arial
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
// -- Georgia
$georgia: Georgia, Times, 'Times New Roman', serif;
