.earth-wrapper {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    position: relative;
}
.starscape {
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    animation: fade-in 4s 1;
    svg {
        top: 0;
        height: 200vh;
        filter: blur(1px);
        position: absolute;
        animation: pan 40s 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

@keyframes pan {
    0% {
        transform: translateY(-50vh);
    }
}
