#history {
    background: $highlight;
    h3 {
        margin-bottom: 0.5em;
    }
    .fade {
        width: 100%;
        height: 10vh;
        @include gradient(
            (
                0%: #000,
                50%: #000,
                100%: $highlight,
            )
        );
    }
    li {
        display: flex;
        padding: 0.75rem 0;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #fff;
        .name {
            min-width: 6rem;
            &::after {
                position: relative;
                content: attr(data-name);
            }
        }
        div {
            height: 2rem;
            position: relative;
            margin-right: calc(4vw + 1.5rem);
        }
        div:not(.name) {
            // color: #000;
        }
    }
    #stats {
        padding: 3vmin 0;
    }
}
