#intro {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-end;
    padding-bottom: 5vmin;
    justify-content: center;
    article {
        max-width: 95%;
        text-align: center;
    }
    h1,
    h2 {
        display: block;
        margin-bottom: 1em;
        animation: intro-slide 2s 1;
    }
    h2 {
        margin-bottom: 0.5em;
    }
    a,
    p,
    h3 {
        animation: intro-slide 3s 1;
    }
}

// Animations
// -- intro-slide
@keyframes intro-slide {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
}
