.scrivner-section {
    padding: 5vmin 0;
    h4 {
        margin-bottom: 0.5em;
    }
    h3,
    h4 {
        display: block;
        text-align: center;
    }
    .epithet {
        text-transform: capitalize;
    }
}
