/*
* General Buttons and submit elements
* These rules define the styling of general button elements
*/

// Button settings
// -- Sizes
$desktop-button-size: 3.5rem;
$mobile-button-size: 3rem;

.button,
a[role='button'],
button,
input[type='submit'] {
    color: #000;
    padding: 0 3rem;
    align-items: center;
    display: inline-flex;
    background-color: #fff;
    border: 4px double #fff;
    transition: background 0.4s;
    height: $desktop-button-size;
    // States
    // -- Hover
    &:hover {
        background-color: $highlight;
        color: black-or-white($border-color);
    }
    // -- Error
    &.error {
        border-color: $error;
        background: $error;
    }
    // -- Success
    &.success {
        border-color: $success;
        background: $success;
    }

    // Media queries
    @media #{$mobile} {
        height: $mobile-button-size;
    }
}
