<template>
  <div class="snackwrapper-wrapper">
    <earth @history="view.history = true"></earth>
    <food v-if="view.history"></food>
    <history v-if="view.history"></history>
    <scrivner v-if="view.history"></scrivner>
  </div>
</template>
<script>
// Components
import earth from './Earth.vue'
import food from './Food.vue'
import history from './History.vue'
import scrivner from './Scrivner.vue'

export default {
  components: { earth, history, food, scrivner },
  data: () => ({
    view: {
      history: false,
    },
  }),
  mounted() {
    this.$store.dispatch('getStats')
  },
}
</script>