<template>
  <div class="earth-wrapper">

    <!-- Starscape -->
    <div class="starscape" v-html="starscape()"/>
    
    <!-- Earth element -->
    <canvas ref="earth"></canvas>

    <!-- Intro -->
    <intro v-if="view.intro"></intro>

    <!-- History -->
    <history v-if="view.history"></history>
    
  </div>
</template>
<script>
// Three.js import
import * as THREE from 'three'

// Components
import intro from './Intro.vue'
import history from './History.vue'

import { mapActions } from 'vuex'

export default {
  components: { intro, history },
  data: () => ({
    // Three JS
    scene: null,
    oceans: null,
    camera: null,
    planet: null,
    renderer: null,
    continents: null,
    view: {
      intro: false,
    },
  }),
  methods: {
    ...mapActions(['drama', 'getSnackmaster']),
    randomValue(min, max) {
      return Math.random() * (max - min) + min
    },
    starscape(stars = 300) {
      let starscape = "<svg width='100%' style='background: #000;'>"

      for (let i = 0; i < stars; i++) {
        let opacity = Math.round(100 * Math.random()) / 100,
          radius = this.randomValue(0, 2.5),
          posX = this.randomValue(0, window.innerWidth),
          posY = this.randomValue(0, window.innerHeight * 2)

        const colors = [
          '#a5b9ff',
          '#9cb2ff',
          '#a5c0ff',
          '#ffcc8a',
          '#a1bdff',
          '#fff5f2',
          '#ffe0bc',
          '#c8d5ff',
          '#ffca8a',
          '#ffdfb5',
          '#f2f2f2',
          '#fff',
          '#fff',
          '#fff',
          '#fff',
          '#9fb4ff',
          '#fff5f2',
          '#b6ceff ',
        ]

        const color = colors[Math.ceil(this.randomValue(0, colors.length - 1))]

        let star = `<circle cx="${posX}" cy="${posY}" r="${radius}" stroke="${color}" fill="${color}" opacity="${opacity}"/>`

        starscape += star
      }

      starscape += '</svg>'

      return (this.stars = starscape)
    },
    resize() {
      this.camera.aspect = this.width() / this.height()
      this.camera.updateProjectionMatrix()
      this.renderer.setSize(this.width(), this.height())
    },
    height() {
      return window.innerHeight
    },
    width() {
      return window.innerWidth
    },
    render() {
      if (this.planet.position.y !== 0) {
        this.planet.position.y += 0.5
        this.planet.position.z -= 0.5
      } else if (!this.view.intro) {
        this.view.intro = true
        this.$emit('history')
      }

      this.planet.rotation.y += 0.001

      // Let's render the planet
      this.renderer.render(this.scene, this.camera)
      return requestAnimationFrame(this.render)
    },
  },
  mounted() {
    this.getSnackmaster()

    // Renderer
    this.renderer = new THREE.WebGLRenderer({
      canvas: this.$refs.earth,
      antialias: true,
      alpha: true,
    })

    this.renderer.setClearColor(0x000000, 0)
    this.renderer.setPixelRatio(window.devicePixelRatio)

    // Set renderer size
    this.renderer.setSize(this.width(), this.height())

    // Position the camera in the scene
    this.camera = new THREE.PerspectiveCamera(
      35,
      this.width() / this.height(),
      0.1,
      3000
    )
    this.camera.position.set(0, 0, 0)

    // Scene
    this.scene = new THREE.Scene()

    // Lights
    // const ambient = new THREE.AmbientLight(0xffffff, 0.5)
    // this.scene.add(ambient)

    const pointLight = new THREE.PointLight(0xffffff, 0.9)
    this.scene.add(pointLight)
    // Instantiate the loader for earth

    const size = window.innerWidth > 960 ? 200 : 100

    // Geometry
    this.geometry = new THREE.SphereBufferGeometry(size, 30, 30)

    this.material = new THREE.MeshLambertMaterial({
      transparent: true,
      opacity: 1,
      map: new THREE.TextureLoader().load('../textures/texture.jpg'),
      emissive: 0x000000,
      emissiveIntensity: 0.05,
      // map: new THREE.TextureLoader().load('../images/texture.jpg'),
    })

    // const ambient = new THREE.AmbientLight(0xffffff, 0.3)
    // this.scene.add(ambient)

    this.planet = new THREE.Mesh(this.geometry, this.material)
    this.planet.position.set(0, -500, -500)
    this.planet.rotation.y = -0.36
    this.scene.add(this.planet)

    this.drama().then(() => {
      this.render()
    })

    // If window resized
    window.addEventListener('resize', () => {
      this.resize()
    })
  },
}
</script>