<template>
  <section id="food" v-if="cuisine">
    <article class="content-flow">
      <h3>Foodmaster</h3>
      <div class="slide-block">
        <p>Looks like our <span class="highlight">{{ cuisine.type }}</span> food is going to be <span class="highlight">{{ cuisine.adjective }}</span> this session.</p>
      </div>
      <div class="slide-block">
        <p>Also our snacks will be <span class="highlight">{{ cuisine.snacks }}.</span></p>
      </div>
    </article>
  </section>
</template>
<script>
export default {
  computed: {
    cuisine() {
      return this.$store.getters.cuisine
    },
  },
}
</script>

