<template>
  <section id="history">
    <div class="fade"/>

    <section id="stats" class="content-flow" v-if="stats">
      <h3>Statmaster</h3>
      <ul>
        <li v-for="(stat, index) in masters" :key="index">
          <div class="name" :data-name="stat.master.name"></div>
          <div class="times">{{ stat.incidence.absolute }}</div>
          <div class="percentage">{{ stat.incidence.percentage }}</div>
        </li>
      </ul>
    </section>

  </section>
</template>
<script>
export default {
  computed: {
    stats() {
      return this.$store.getters.stats
    },
    masters() {
      return this.stats.masters.sort((a, b) => {
        return b.incidence.absolute - a.incidence.absolute
      })
    },
  },
}
</script>
