<template>
<div id="intro">
    <article>
      <!-- No snackmaster present -->
      <template v-if="!snackmaster">
        <h1>The world needs a Snackmaster.</h1>

        <a 
          class="button" 
          :class="{ clicked }"
          @click="onClick">
          Will it be me?
        </a>
      </template>
      
      <!-- Snackmaster chosen -->
      <template v-else>
        <h2 class="slide-block">The current snackmaster is:</h2>
        <h3 class="highlight slide-block">
          {{ snackmaster.name }}
        </h3>
      </template>
    </article>
</div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data: () => ({
    clicked: false,
  }),
  methods: {
    ...mapActions({
      newSnackmaster: 'newSnackmaster',
    }),
    onClick() {
      this.clicked = true
      this.newSnackmaster()
    },
  },
  computed: {
    ...mapGetters({
      snackmaster: 'snackmaster',
    }),
  },
}
</script>