<template>
  <section class="scrivner-section highlight-bg" v-if="scrivner">
    <div class="content-flow">
      <h4>The Scrivner for this week is:</h4>
      <h3>{{ scrivner.master.name }} the <span class="epithet">{{ scrivner.epithet }}</span></h3>
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      scrivner: 'scrivner',
    }),
  },
}
</script>